entrypoint = "app.py"
modules = ["python-3.11"]
run = 'streamlit run app.py'

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "streamlit run app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80

[[ports]]
localPort = 8502
externalPort = 3000
